# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Balls_dragAndDrop.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Uni\MyUnity\Balls_dragAndDrop\.idea\.idea.Balls_dragAndDrop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
